$primaryOrange: rgba(225, 148, 82, 1);
$primaryOrange30: rgba(225, 148, 82, .3);
$primaryOrange70: rgba(225, 148, 82, .7);
$primaryWhite: rgba(255, 255, 255, 1);
$primaryBlack: rgba(0, 0, 0, 1);
$primaryGrayDark: rgba(41, 41, 41, 1);
$primaryBorder: rgba(255, 255, 255, 0.21);
$primaryGray: rgba(158, 158, 158, 1);

$transitionMedium: 400ms;

:root {
  --text-white: #{$primaryWhite};
  --text-black: #{$primaryBlack};
  --text-orange: #{$primaryOrange};
  --text-orange-30: #{$primaryOrange30};
  --text-gray: #{$primaryGray};

  --background-orange: #{$primaryOrange};
  --background-orange-70: #{$primaryOrange70};
  --background-black: #{$primaryBlack};
  --background-white: #{$primaryWhite};
  --background-gray: #{$primaryGrayDark};

  --border-white: #{$primaryBorder};

  --transition: #{$transitionMedium};
}