.contactPage {
  margin-top: 7.625rem;
}
.contactContentContainer {
  padding-top: 3.312rem;
  padding-bottom: 3.312rem;

  margin-top: 1.562rem;

  background-color: var(--background-gray);
}

.contactTitleWrapper {
  margin-bottom: 4.437rem;
}

.contactContent {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.125rem;
}

.contactMap {
  width: 68.75%;
  height: 29.187rem;
  background-color: var(--text-gray);
}

.contactInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25.25%;
}

.contactInfoHeader {
  display: flex;
  margin-bottom: 1.25rem;
}

.contactInfoIcon {
  width: 1.875rem;
  height: 1.875rem;

  margin-right: 0.937rem;

  svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    fill: var(--text-orange);
  }
}

.contactInfoTitle {
  color: var(--text-white);

  font-size: 1.312rem;
  line-height: 0.85;
  text-transform: uppercase;
}

.contactInfoText {
  color: var(--text-white);

  font-size: 1.187rem;
  line-height: 1.89;
  text-decoration: none;
}

.contactInfoSmm {
  margin-top: 1.89rem;

  width: 100%;
  max-width: 18.25rem;
}

.contactsParallax {
  height: 21.125rem;

  background-image: url("../../../../public/img/contacts/parallax.jpg");

  background-attachment: fixed;

  opacity: 30%;
}

.mailWrapper {
  margin-bottom: 4.437rem;
}