.facts {
  margin-top: 8.187rem;
  margin-bottom: 6.687rem;
}

.factsTitleWrapper {
  margin-bottom: 6.687rem;
}

.factsCards {
  display: flex;
  justify-content: space-between;
  flex-basis: 12.875rem;
  margin: 0 auto;
  width: 74%;
}

