.card {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 43.5%;

  &.dark {
    color: var(--text-black);
  }

  &.light {
    color: var(--text-white);
  }
}

.cardIcon {
  position: relative;
  width: 4.125rem;
  margin-bottom: 2.125rem;

  &::before {
    content: "";
    display: block;
    padding-top: 89.189%;
  }

  svg.light {
    fill: var(--text-orange);
  }

  svg.dark {
    fill: var(--text-black);
  }

}

.cardTitle {
  //TODO
  min-width: 26.812rem;
  margin-bottom: 1.25rem;

  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.45;
  letter-spacing: 1.8px;
  text-transform: capitalize;
  text-align: center;
}

.cardDesc {
  font-size: 1.187rem;
  font-weight: 300;
  line-height: 1.89;
}