.mission {
  margin-top: 5.75rem;
  margin-bottom: 5.5rem;
}

.missionContainer {
  position: relative;
  display: flex;
  flex-direction: column;
}

.missionHeader {
  width: 67.810%;
  padding: 4.25rem 3.687rem 7.5rem;

  background-color: var(--background-gray);
}

.missionTitleWrapper {
  margin-bottom: 3.125rem;
}

.missionDesc {
  width: 59.741%;

  color: var(--text-white);

  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.66;
}

.missionImage {
  position: absolute;
  top: 8.125rem;
  right: 0;
  bottom: 0;
  width: 52.5%;

  img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &::after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    background-color: var(--background-black);
    opacity: 30%;
  }
}

.missionText {
  margin: 3.437rem 0 0 3.625rem;
  width: 39.632%;

  color: var(--text-black);

  font-size: 1.187rem;
  font-weight: 300;
  line-height: 1.89;
}