.advantages {
  margin-top: 3.937rem;
  margin-bottom: 11.5rem;
}

.cardsWrapper {
  margin-bottom: -1.75rem;
}

.advantagesTitleWrapper {
  margin-bottom: 3.875rem;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.runningLineWrapper {

  background-color: var(--background-gray);
}

.marqueeTitle {
  padding-top: 7.625rem;
  padding-bottom: 6.812rem;
  display: flex;
  justify-content: space-between;
  margin-right: 2rem;

  span {
    display: block;
    color: var(--background-white);

    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 1.8px;
    text-transform: uppercase;

    &:not(:last-child) {
      margin-right: 9rem;
    }
  }

}