.services {
  padding-top: 3.75rem;
  padding-bottom: 5.625rem;
}

.servicesContainer {
}

.titleWrapper {
  margin-bottom: 7.187rem;
}

.cardsContainer {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  margin-right: 4.599%;
}

.card {
  position: relative;
  width: 27.299%;

  &::before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

.cardInner {
  height: 100%;
  width: 100%;
  background-color: var(--text-gray);
  opacity: 54%;
}