.warehouse {
  margin-top: 7.812rem;
}

.warehouseTitleWrapper {
  margin-bottom: 6.625rem;
}

.warehouseBlack {
  padding-top: 2.687rem;
  padding-bottom: 5.906rem;

  background-color: var(--background-gray);
}

.warehouseImage {
  position: relative;
  padding-top: 3.875rem;
  padding-bottom: 5.493rem;

  background-image: url("../../../../public/img/warehouse/background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;

    background-color: var(--background-white);
    opacity: 0.9;
    z-index: 1
  }
}

.warehouseWhite {
  padding-top: 4.131rem;
  padding-bottom: 3.822rem;
}

.warehouseOrange {
  padding-top: 5.802rem;
  padding-bottom: 6.368rem;

  background-color: var(--background-gray);
}

.warehouseCards {
  display: flex;
  flex-wrap: wrap;

  & > div:nth-child(odd) {
    margin-right: auto;
  }

  & > div:nth-child(n+3) {
    margin-top: 9.625rem;
  }
}

.mailWrapper {
  margin-bottom: 2.687rem;
}

.runningLineWrapper {
  margin-top: 4.25rem;
  margin-bottom: 6.937rem;

  background-color: var(--background-gray);
}

.marqueeTitle {
  padding-top: 7.625rem;
  padding-bottom: 6.812rem;
  display: flex;
  justify-content: space-between;
  margin-right: 2rem;

  span {
    display: block;
    color: var(--background-white);

    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 1.8px;
    text-transform: uppercase;

    &:not(:last-child) {
      margin-right: 9rem;
    }
  }

}