.header {
  display: flex;
  justify-content: center;
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;

  background-color: rgba(0, 0, 0, 0.30);
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 79.861%;
}

.logo {

}