.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;

  transition: background-color var(--transition);
  background-color: rgba(0, 0, 0, 0.30);

  &.scrolled {
    background-color: var(--background-black);
  }
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 79.861%;
}

.logo {
  height: 4.312rem;
}