.warehouse {
  margin-top: 7.812rem;
}

.warehouseTitleWrapper {
  margin-bottom: 6.625rem;
}

.warehouseBlack {
  padding-top: 2.687rem;
  padding-bottom: 5.906rem;

  background-color: var(--background-gray);
}

.warehouseImage {
  position: relative;
  padding-top: 3.875rem;
  padding-bottom: 5.493rem;

  background-image: url("../../../public/img/warehouse/background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;

    background-color: var(--background-white);
    opacity: 0.9;
    z-index: 1
  }
}

.warehouseWhite {
  padding-top: 4.131rem;
  padding-bottom: 3.822rem;
}

.warehouseOrange {
  padding-top: 5.802rem;
  padding-bottom: 6.368rem;

  background-color: var(--background-orange);
}

.warehouseCards {
  display: flex;
  flex-wrap: wrap;

  & > div:nth-child(odd) {
    margin-right: auto;
  }

  & > div:nth-child(n+3) {
    margin-top: 9.625rem;
  }
}