.link {
  display: block;
  color: var(--text-white);

  font-size: 1.312rem;
  line-height: 1.7;
  text-transform: uppercase;
  text-decoration: none;
  transition: color var(--transition);

  &:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  &:last-child {
    margin-bottom: 1.312rem;
  }

  &:hover {
    color: var(--text-orange);
  }
}

.mail {
  margin-bottom: 1.312rem;

  color: var(--text-white);

  font-size: 1rem;
}

.smmContainer {
  width: 200px;
}
