.card {}

.cardNumber {
  margin-bottom: 0.437rem;

  p {
    color: var(--text-orange);

    font-size: 3.125rem;
    font-weight: 700;
    line-height: 0.96;
    letter-spacing: 1.8px;
  }
}

.cardDesc {
  color: var(--text-black);

  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 1.8px;
}