.aboutUs {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.aboutUsContainer {
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  width: 35.328%;
  flex-shrink: 0;
}

.contentTitleWrapper {
  margin-bottom: 4.25rem;
}

.contentBtn {
  padding: 1.25rem 2.687rem;

  border: 2px solid var(--background-orange);
  background-color: transparent;
  color: var(--text-orange);
  cursor: pointer;

  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.64;
  letter-spacing: 6.4px;
  text-transform: uppercase;
}

.contentDesc {
  margin-bottom: 5.5rem;

  color: var(--text-black);

  font-size: 1.187rem;
  font-weight: 300;
  line-height: 1.89;
}

.imageContainer {
  position: relative;
  width: 54.89%;
  flex-shrink: 0;

  &::before {
    content: '';
    display: block;
    padding-top: 71.808%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}