@import "./styles/_theme.scss";

//$primaryOrange: rgba(225, 148, 82, 1);
//$primaryWhite: rgba(255, 255, 255, 1);
//$primaryBlack: rgba(0, 0, 0, 1);
//$primaryGrayDark: rgba(41, 41, 41, 1);
//
//:root {
//    --text-white: #{$primaryWhite};
//    --text-black: #{$primaryBlack};
//    --text-orange: #{$primaryOrange};
//
//    --background-orange: #{$primaryOrange};
//    --background-black: #{$primaryBlack};
//    --background-white: #{$primaryWhite};
//}
*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.hidden {
    display: none;
}

.page-container {
    width: 95.138%;
    margin: 0 auto;
}

.img-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    svg,img {
        max-width: 100%!important;
        max-height: 100%!important;
    }
}

.inner-page-container {
    margin-top: 11.062rem;
}