.banner {
  padding-top: 5.25rem;
  padding-bottom: 10.375rem;
  position: relative;
  font-size: 1.111vw;

  &::before {
    content: '';
    display: block;
    padding-top: 20.138%;
  }
}

.bannerBackground,
.bannerOpacity {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.bannerBackground {
  object-fit: cover;
  z-index: 1;
}

.bannerOpacity {
  background-color: var(--background-gray);
  opacity: 90%;
  z-index: 2;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 3;
  width: max-content;

  display: flex;
  justify-content: center;
}

.content {
}

.bannerTitle {
  color: var(--background-orange-70);
  font-size: 8.75em;
  font-weight: 700;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
}

.bannerCircle {
  opacity: 50%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-49%) translateX(36%);
  width: 26.219%;

  &::before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}
