.contentWrapper {
  padding-top: 7.875rem;
  padding-bottom: 7.125rem;
  padding-left: 6.181%;

  background-color: var(--background-gray);
}

.titleWrapper {
  margin-bottom: 3.625rem;
}

.subTitle {
  margin-bottom: 0.812rem;

  color: var(--text-white);

  font-size:  1.625rem;
  line-height: 0.69;
  text-transform: uppercase;
}

.text {
  display: block;
  max-width: 26.091%;

  color: var(--text-white);

  font-size: 1rem;
}

.address {
  margin-bottom: 0.886rem;
}

.contentMail {
  margin-bottom: 1.312rem;
}

.smmWrapper {
  width: 29.827%;
}