.services {
  margin-top: 9.375rem;;
  margin-bottom: -3.5rem;
}

.servicesContainer {
}

.titleWrapper {
  margin-bottom: 7.187rem;
}

.cardsContainer {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-between;
}

.card {
  position: relative;
  width: 29.083%;

  &::before {
    content: '';
    display: block;
    padding-top: 124.928%;
  }
}

.cardInner {
  height: 100%;
  width: 100%;
  background-color: var(--background-gray);
}