.services {
  padding-top: 3.75rem;
  padding-bottom: 5.625rem;
}

.servicesContainer {
}

.titleWrapper {
  margin-bottom: 7.187rem;
}

.cardsContainer {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  margin-right: 5.666%;
}

.card {
  position: relative;
  width: 26.943%;

  &::before {
    content: '';
    display: block;
    padding-top: 142.95%;
  }
}

.cardInner {
  height: 100%;
  width: 100%;
  background-color: var(--background-gray);
}