.navLink {
  color: var(--text-white);
  transition: color var(--transition);

  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 1.4px;
  text-decoration: none;
  text-transform: capitalize;

  &:hover {
    color: var(--text-orange);
  }

  &.linkActive {
    font-weight: 700;
    color: var(--text-orange);
  }
}

.linkActive {}